services:
  web:
    image: ghcr.io/patelbinal/ai-demo-search-client:latest
    container_name: web
    ports:
      - "8080:8080"
    environment:
      NODE_ENV: production
    restart: unless-stopped
